h2 {
  text-align: center;
  font-family: 'Poppins', 600;
}

.students {
  margin: 0 auto;
  width: 20em;
}

.students li {
  display: flex;
}

.students button {
  display: flex;
  flex: 1;
  align-items: stretch;
  padding: 0;
  height: 1.8em;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.students button:hover {
  font-weight: bold;
  color: #000;
  background-color: #e6e6e6;
}

.students button.selected {
  background-color: #000000;
  color: white;
}

.students .badge {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  background-color: orange;
  margin-right: 10%;
  border-radius: 5px;
  padding: 10px;
  color: black;
}

.nome {
  align-self: center;
}
